hr{
    border: solid 2px #E2CF76;
    margin-top: -5px;
}

#welcome{
    color: white;
    font-size: 150px;
    font-family: 'Russo One', sans-serif;
    vertical-align: center;
}

/* PARTICLE BACKGROUND */
#particle {
  background-color: #333;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
}
#overlay {
  position: relative;
}