body, html{
  background-color: #4b4b4b;
  color: white;
}

/* NAVBAR CUSTOMIZATION */
  .navbar-default {
    background-color: transparent;
    margin-bottom: 0;
    border: none;
    font-weight: bold;
    width: 100%;
  }

  .navbar-header .navbar-brand,
  .navbar-default .navbar-nav > li > a {
    font-size: 24px;
    color: #fff;
  }

  .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-nav > li > a:hover{
    color: #E2CF76;
    text-decoration: underline;
  }

  .navbar-default .navbar-nav > li > a:focus {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }

#welcome{
  font-family: 'Russo One', sans-serif;
  padding: 50px
}

#hello{
  font-size: 75px;
  color: #E2CF76;
}

.selectors{
  border: solid 2px #E2CF76;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.titleBar{
  background-color: #E2CF76;
  padding: 5px;
}

.selectors:hover{
  background-color: #E2CF76;
  color: #333;
  cursor: pointer;
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}