/* ============= */
/* ==UNIVERSAL== */
/* ============= */
  body, html {
    background-color: #fff;
    color: #333;
    font-family: 'Play', sans-serif;
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
    padding: 5px;
  }

  a:-webkit-any-link,
  a:-webkit-any-link:hover,
  a:-webkit-any-link:focus {          /* ALL LINKS */
    text-decoration: none;
    color: #333;
  }

  .banner-text{                       /* PAGE HEADER */
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
  }

  .sub-banner-text{                   /* SECTION HEADERS */
    font-size: 20px;
    font-weight: bold;
  }

  .content-div {
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

/* =============== */
/* ==BACKGROUNDS== */
/* =============== */
  #headerSection {
    background: red;
    background: -webkit-linear-gradient(#f5c43f, #fddc87); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5c43f, #fddc87); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5c43f, #fddc87); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5c43f, #fddc87); /* Standard syntax */
  }

  #aboutMeSection {
  }

  #skillsetSection {
    background-color: #e9e9e9;
  }

  #projectSection {
  }
  
  #contactSection {
    background-color: #e9e9e9;
  }

/* ================= */
/* ==NAVBAR STYLES== */
/* ================= */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #f5c43f;
    border: none;
  }

  .navbar-brand {
    font-family: 'Permanent Marker', cursive;
  }

/* ======================= */
/* ==LANDING PAGE STYLES== */
/* ======================= */
  .contact-imgs {
    height: 30px;
    width: 30px;
    margin: 5px;
  }

/* ABOUT ME */
  #headshot-img {
    height: 200px;
    widght: 200px;
    box-shadow: 3px 3px 5px #888888;
    margin-top: 10px;
    margin-bottom: 10px;
  }

/* SKILLS */
  .skill-div {
    padding: 10px;
  }

  .skill-img {
    height: 80px;
    width: 80px;
  }

/* ========================== */
/* ==PROJECT SECTION STYLES== */
/* ========================== */
  .projects {
    height: 150px;
    border: solid 1px #333;
    margin: 10px;
  }

  .proj-img {
    height: 100%;
    background-color: red;
    padding: 0;
    margin: 0;
  }

/* ================ */
/* ==CONTACT FORM== */
/* ================ */


/* FOOTER */
.footer {
  color: #fff;
  background-color: #333;
  height: auto;
  padding: 20px;
}

/* ================== */
/* ==RESPONSIVENESS== */
/* ================== */
@media screen and (min-width: 485px){
  .banner-text{
    font-size: 40px;
  }
}

@media screen and (min-width: 768px){
  .banner-text{
    font-size: 50px;
  }

  p{
    font-size: 20px;
  }

}

@media screen and (min-width: 992px){
  
}

@media screen and (min-width: 1200px){
  
}