body, html{
  background-color: #f1f1f1;
  color: #333;
  font-family: 'Play', sans-serif;
  font-size: 18px;
}

/* NAVBAR */
  .simpleNav {
    background-color: #f5c43f;
    font-weight: bold;
    width: 100%;
    height: 60px;
    box-shadow: 0 5px 6px -3px #999;
    position: fixed;
    top: 0;
    z-index: 3;
  }

  .nav-item{
    width: 33.3%;
    text-align: center;
    float: left;
    font-size: 24px;
    padding: 15px;
  }

  .nav-item > a {
    color: #333;
  }

  .nav-item > a:hover,
  .nav-item > a:focus{
    color: #fff;
    text-decoration: underline;
  }

#banner{
  font-size: 24px;
}

#view-projects, 
#contact-me {
  margin-top: 30px;
  cursor: pointer;
  padding: 10px;
  border: solid 2px #333;
  font-weight: bold;
  background-color: #f1f1f1;
}

#view-projects:hover,
#contact-me:hover{
  background-color: #f5c43f;
}

.hello{
  font-size: 60px;
  font-weight: bold;
}

.project-box{
  border: solid 2px #333;
  height: 200px;
  margin: 15px;
  padding: 10px;
  text-align: left;
}

.project-link{
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}

.project-link:hover{
  color: #f5c43f;
}

.form-group > input {
  height: 50px;
  font-size: 18px;
}

.form-group > textarea{
  font-size: 18px;
}

.btn-warning {
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

#welcome, #myProjects, #contactMe {
  margin-top: 30px;
  margin-bottom: 20px;
}

.anchor{
  padding-top: 60px;
}

@media screen and (min-width: 992px){
  #welcome, #myProjects, #contactMe {
    height: 90vh;
    margin-top: 100px;
  }
}